main{
    padding: 16px;
    color: black;
}

nav a{
    color: rgb(253, 253, 253);
}
header{
    background-color: salmon;
    color: white;
    border-bottom: 2px solid black;
    padding: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Rubik+Microbe&display=swap');

h1{
    color: green;
    font-family: 'Heebo', sans-serif;
font-family: 'Rubik Microbe', cursive;

}
h2{
    color:black;
    font-family: 'Heebo', sans-serif;
font-family: 'Rubik Microbe', cursive;

}
a:link{
    text-decoration: none;
}
footer{
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    background-color: rgba(110, 165, 28, 0.801);
    font-size: 15px;
    font-weight: bold;
}
#Foods{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
img{
    max-width: 500px;
    height: 200px;
    margin: auto;
    padding: 10px;
}

.star{
    font-size: 18px;
}
div a {
    color: green;
}
table th{
    background-color: rgba(128, 128, 128, 0.781);
}

tr:nth-child(even){
    background-color: rgba(167, 161, 161, 0.466);
}
.star {
    font-size: 20px;
    width: 50px;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content: '\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
        content: '\2605';
        color: gold;
        margin-left: -17px;
        width: 10px;
        position: absolute;
        overflow: hidden;
    }
